:root {
    --red: #ff0000;
    --green: #00ff00;
    --blue: #0000ff;
    --navi-blue: #000080;
    --yellow: #ffff00;
    --purple: #ff00ff;
    --pink: #ff00ff;
    --white: #ffffff;
    --black: #000000;
    --orange: #ff8c00;
    --brown: #a52a2a;
    --grey: #808080;
    --light-grey: #c0c0c0;
    --dark-grey: #313131ff;
    --dark-red: #800000;
    --dark-green: #008000;
    --dark-blue: #000080;
    --dark-yellow: #c7a807;
    --dark-purple: #800080;

}

.text-navi-blue {
    color: var(--navi-blue)!important;
}

.text-dark-grey {
    color: var(--dark-grey)!important;
}

.text-red {
    color: var(--red)!important;
}

.text-green {
    color: var(--green)!important;
}

.text-blue {
    color: var(--blue)!important;
}

.text-yellow {
    color: var(--yellow)!important;
}

.text-purple {
    color: var(--purple)!important;
}

.text-pink {
    color: var(--pink)!important;
}

.text-white {
    color: var(--white)!important;
}

.text-black {
    color: var(--black)!important;
}

.text-orange {
    color: var(--orange)!important;
}

.text-brown {
    color: var(--brown)!important;
}

.text-grey {
    color: var(--grey)!important;
}

.text-light-grey {
    color: var(--light-grey)!important;
}

.text-dark-red {
    color: var(--dark-red)!important;
}

.text-dark-green {
    color: var(--dark-green)!important;
}

.text-dark-blue {
    color: var(--dark-blue)!important;
}

.text-dark-yellow {
    color: var(--dark-yellow)!important;
}

.text-dark-purple {
    color: var(--dark-purple)!important;
}

.bg-navi-blue {
    background-color: var(--navi-blue)!important;
}

.bg-dark-grey {
    background-color: var(--dark-grey)!important;
}

.bg-red {
    background-color: var(--red)!important;
}

.bg-green {
    background-color: var(--green)!important;
}

.bg-blue {
    background-color: var(--blue)!important;
}

.bg-yellow {
    background-color: var(--yellow)!important;
}

.bg-purple {
    background-color: var(--purple)!important;
}

.bg-pink {
    background-color: var(--pink)!important;
}

.bg-white {
    background-color: var(--white)!important;
}

.bg-black {
    background-color: var(--black)!important;
}

.bg-orange {
    background-color: var(--orange)!important;
}

.bg-brown {
    background-color: var(--brown)!important;
}

.bg-grey {
    background-color: var(--grey)!important;
}

.bg-light-grey {
    background-color: var(--light-grey)!important;
}

.bg-dark-red {
    background-color: var(--dark-red)!important;
}

.bg-dark-green {
    background-color: var(--dark-green)!important;
}

.bg-dark-blue {
    background-color: var(--dark-blue)!important;
}

.bg-dark-yellow {
    background-color: var(--dark-yellow)!important;
}

.bg-dark-purple {
    background-color: var(--dark-purple)!important;
}

.border-navi-blue {
    border-color: var(--navi-blue)!important;
}

.border-dark-grey {
    border-color: var(--dark-grey)!important;
}

.border-red {
    border-color: var(--red)!important;
}

.border-green {
    border-color: var(--green)!important;
}

.border-blue {
    border-color: var(--blue)!important;
}

.border-yellow {
    border-color: var(--yellow)!important;
}

.border-purple {
    border-color: var(--purple)!important;
}

.border-pink {
    border-color: var(--pink)!important;
}

.border-white {
    border-color: var(--white)!important;
}

.border-black {
    border-color: var(--black)!important;
}

.border-orange {
    border-color: var(--orange)!important;
}

.border-brown {
    border-color: var(--brown)!important;
}

.border-grey {
    border-color: var(--grey)!important;
}

.border-light-grey {
    border-color: var(--light-grey)!important;
}

.border-dark-red {
    border-color: var(--dark-red)!important;
}

.border-dark-green {
    border-color: var(--dark-green)!important;
}

.border-dark-blue {
    border-color: var(--dark-blue)!important;
}

.border-dark-yellow {
    border-color: var(--dark-yellow)!important;
}

.border-dark-purple {
    border-color: var(--dark-purple)!important;
}

.border-1 {
    border-style: solid;
    border-width: 1px!important;
}

.border-2 {
    border-style: solid;
    border-width: 2px!important;
}

.border-3 {
    border-style: solid;
    border-width: 3px!important;
}

.op-25 {
    opacity: 0.25!important;
}

.op-50 {
    opacity: 0.5!important;
}

.op-75 {
    opacity: 0.75!important;
}



